body {
    background-image: ;


}

#container {
    max-width: ;
    background-image: ;
    margin: 0 auto;
    padding: ;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: ;
}

#game {
    background-image: ;
    
}

#top-left, #top-right, #bottom-left, #bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main {
    grid-area: game;

}